<footer>
    <div class="footer_container">
        <div class="footer_logo">
            <img src="/images/Volvo-Logo-2020.png" alt="Volvo Logo" class="volvo_logo">
        </div>
        <div class="footer_content">
            <div class="about_volvo_group">
                <p class="footer_content_heading">About Volvo Group</p>
                <p class="footer_content_text">Volvo Group drives prosperity through transport and infrastructure solutions, offering trucks, buses, construction equipment, power solutions for marine and industrial applications, financing and services that increase our customers’ uptime and productivity. We are committed to shaping the future landscape of sustainable transport and infrastructure solutions. Our headquarter is located in Gothenburg, Sweden, and our shares are listed on Nasdaq in Stockholm, Sweden.</p>
            </div>
            <div class="visit_us">
                <p class="footer_content_heading">Visit Us</p>
                <p class="footer_content_text"><a href="https://www.volvo.com/en/">https://www.volvo.com/en/</a></p>
            </div>
            <div class="address">
                <p class="footer_content_heading">Address</p>
                <p class="footer_content_text">Floor 2,3,4,5,6, Parin building, Bagmane Tech Park, Cauveri Colony, GM Palya, C V Raman Nagar, Bengaluru, Karnataka 560093</p>
                <p class="footer_content_text_phone">Phone : <span>080674 11000</span> </p>
            </div>    
        </div>
        <div class="copyright">
            <p class="copywrite">Copyright © 2020 Volvo Corporation</p>
        </div>
    </div>
</footer>