/* background------------------------------------------------------------ */
body{
    position: relative;
}

.background{
    position: fixed;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right bottom,#f5f7fa, #b8c6db);
    z-index: -1;
    top:0;
    overflow-x: hidden;
}

#circle1{
    position: absolute;
    width: 24vw;
    height: 24vw;
    border-radius: 50%;
    background: #1251B5;
    filter: blur(82px);
    top: 62vh;
    left: 57vw;
}

#circle2{
    position: absolute;
    width: 16vw;
    height: 16vw;
    border-radius: 50%;
    background: #53565A;
    filter: blur(88px);
    left: 34vw;
    top: 49vh;
}

#circle3{
    position: absolute;
    width: 14vw;
    height: 14vw;
    border-radius: 50%;
    background: #D9D9D9;
    filter: blur(74px);
    top: 48vh;
    left: 40vw;
}

#circle4{
    position: absolute;
    width: 14vw;
    height: 14vw;
    border-radius: 50%;
    background: #D9D9D9;
    filter: blur(147px);
    top: 54vh;
    left: 27vw;
}

#circle5{
    position: absolute;
    width: 22vw;
    height: 22vw;
    border-radius: 50%;
    background: rgba(83, 86, 90, 0.5);
    filter: blur(60px);
    top: 20vh;
    left: 50vw;
}

#circle6{
    position: absolute;
    width: 24vw;
    height: 24vw;
    border-radius: 50%;
    background: #1251B5;
    filter: blur(85px);
    top: 3vh;
    left: 25vw;
}


/* content------------------------------------------------------------ */

.content{
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    width: 80%;
    margin: 5% auto;
    padding-left: 5.5vw;
    padding-bottom: 0.1vh;
}

nav{
    display: flex;
    justify-content: flex-end;
}

nav .user{
    background: rgba(18, 152, 181, 0.29);
    border-radius: 0px 20px 0px 20px;
    padding: 1.5vh 5vh 0.1vh 3vh;
    width: fit-content;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.1em;
}

nav .user img{
    width: 21px;
    height: 21px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 3px;
}

.logo img{
    width: 150px;
}

/* details-------------------------------------------------- */

.greeting{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 2.1em;
    text-shadow: 13px 12px 24px rgba(0,0,0,0.30);
}

.details{
    margin: 11vh auto;
    width: 90%;
    margin-bottom: 0;
}

.details_form{
    display: flex;
    flex-direction: column;
    margin-bottom: 1vh;
    justify-content: space-between;
    align-items: center;
}

.top_half, .bottom_half{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.question{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    font-size: 1em;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
}


.question textarea{
    background: rgba(255, 255, 255, 0.7);
    border: none;
    box-shadow: 6px 7px 19px -6px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    width: 30vw;
    min-height: 10em;
    line-height: 1.5;
    padding: 1em;
}

.question textarea:focus{
    outline: none;
}

#skill{
    margin-bottom: 3em;
}

.question select{
    width: 14em;
    margin: 0.5em 1em;
    padding: 0.4em;
    font-size: 0.8em;
    color: rgba(83, 86, 90);
    background-color: transparent;
    border: 1px solid rgba(83, 86, 90, 0.3);;
}

.question select:focus{
    outline: none;
}

.skill_container, .location_container{
    width: 45%;
    display: flex;
    flex-direction: column;
}

.question .skills{
    display: flex;
    margin-bottom: -0.5em;
}

select option{
    background-color: transparent !important;
}

.addit_skill{
    background-color: transparent;
    border: none;
    max-width: 7em;
    margin: 0.5em 2em;
    margin-right: 1em;
    font-size: 0.em;
    color: rgba(83, 86, 90);
}

.addit_skill:hover{
    border-bottom: 1px solid rgba(83, 86, 90, 0.56);
}

.addit_skill:focus{
    outline: none;
    border-bottom: 1px solid rgba(83, 86, 90, 0.56);
}

.delete_skill{
    padding-top: 10px;
    width: 20px;
    margin-bottom: 0.5em;
}

.delete_skill:hover{
    cursor: pointer;
}

#add_skill{
    width: 25px;
    margin: 1em 0 0 2em;
}

#add_skill:hover{
    cursor: pointer;
}

.skill_error{
    display: flex;
}

.partition{
    min-width: 0.05em;
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5);;
}

.location_container{
    margin-left: 4em;
}

#locate{
    margin-bottom: -1em;
}

#relocate div{
    line-height: 1em;
}

.location{
    display: flex;
    /* margin-bottom: 0.5em; */
}

#relocate p{
    margin-top: 0.5em;
    margin-bottom: 0%;
}

#relocate input{
    width: 0.8em;
    height: 30px;
    margin: 0em 0.8em;
    color: rgba(83, 86, 90);
    background-color: transparent;
    border: 1px solid rgba(83, 86, 90, 0.3);
}

#relocate label{
    font-size: 0.9em;
    color: rgba(83, 86, 90);
    position: relative;
    bottom: 0.7em;
}

#relocate {
    margin-bottom: 2em;
}

#proceed{
    background: rgba(18, 152, 181, 0.3);
    font-family: 'Montserrat', sans-serif;
    border: none;
    padding: 0.4em;
    font-size: 0.8em;
    color: rgba(83, 86, 90, 0.9);
    margin-bottom: 1em;
    width: 6em
}

.error, .file-upload-message{
    width: 70%;
    color: red;
    font-size: 0.8em;
    line-height: 1.5;
    padding: 1em;
    font-family: 'Montserrat', sans-serif;
}

.file-upload-message{
    padding-left: 0;
    color: green;
    display: flex;
    align-items: center;
}

#delete{
    font-size: 1.5em;
    margin: 0.5em;
    color: red;
}

/* responsive----------------------------------------------- */

@media only screen and (max-width: 1280px){

    nav .user{
        font-size: 0.9em;
    }

    nav .user img{
        width: 1em;
        height: 1em;
    }

    .logo img{
        width: 125px;
    }

    .greeting{
        font-size: 1.9em;
    }

    .question{
        font-size: 0.8em;
    }

    #relocate label{
        bottom: 1.1em;
    }
}

@media (max-width: 950px) {
    .skills{
        flex-direction: column;
    }
}

@media only screen and (max-width: 768px){

    .content{
        padding-left: 2em;
    }

    .greeting{
        text-align: center;
    }

    .details{
        position: relative;
        left: -1em;
        text-align: center;
    }

    .question textarea{
        line-height: 150%;
        width: 65%;
        margin: auto;
    }

    .error, .file-upload-message{
        width: 65%;
        text-align: center;
        align-self: center;
    }

    form > div{
        flex-direction: column;
    }

    .question .skills{
        align-items: center;
    }

    #add_skill{
        margin: 0;
    }

    .question select{
        margin: 0.5em auto;
    }

    .bottom_half{
        align-items: center;
    }

    .location_container{
        margin-left: 0;
    }
}


@media only screen and (max-width: 540px){

    nav .user{
        font-size: 1em;
    }

    nav .user img{
        width: 1.2em;
        height: 1.2em;
    }

    .logo img{
        width: 150px;
        margin-left: 7vw;
    }

    .content{
        padding-left: 0;
    }

    .greeting{
        text-align: center;
        font-size: 1.7em;
        width: 90%;
        margin: auto;
        margin-top: 5vh;
    }

    .details{
        position: static;
        margin-top: 7vh;
    }

    .question textarea{
        font-size: 0.9em;
        height: 10em;
    }

    .delete_skill{
        width: 16px;
    }

    #add_skill{
        width: 17px;
    }

    .question label, .question p{
        padding-bottom: 0;
    }

    #relocate label {
        bottom: 0.8em;
    }

    #relocate input {
        margin: 0;
    }

    #proceed{
        padding: 10px;
        font-size: 0.8em;
    }

}