/* ----------Footer-------- */
footer{
    background-color: #FFFFFF;
    opacity: 0.85;
    font-family: 'Montserrat';
}

.footer_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_logo{
    display: flex;
    align-items: center;
    justify-content: center;
    top: -5vh
}

.volvo_logo{
    width: 12em;
    position: relative;
}

.footer_content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 1em;
    padding: 1em;
}

.about_volvo_group{
    width: 18em;
}

.address{
    width: 15em;
}

.footer_content_heading{
    font-size: 1.5em;
    font-weight: 500;
    color: #53565A;
    font-style: normal;
}

.footer_content_text{
    font-size: 0.7em;
    color: rgba(83, 86, 90, 0.9);
}

footer a{
    color: inherit;
    text-decoration: none;
}

.footer_content_text_phone{
    font-size: 1em;
    font-weight: 300;
    color: rgba(83, 86, 90);
}

.copyright{
    font-size: 0.8em;
    color: rgba(83, 86, 90, 0.8);
    text-align: center;
    margin-top: 1em;
}

/* -----------Footer Responsive------------ */

@media (max-width: 800px) {
    .footer_content{
        flex-direction: column;
        align-items: center;
    }    
    .footer_content_heading, .footer_content_text{
        text-align: center;
    }
    .footer_content_text_phone{
        text-align: center;
    }
     
}

/*---------Login Page----------*/

.login_logo{
    width: 10em;
}

.content_login{
    background: rgba(255, 255, 255, 0.7);
    width: 30em;
    padding: 2em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3em;
    padding-top: 0;
}

.login_details{
    padding-top: 1em;
    margin-bottom: 0.5em;
}

.login_heading{
    text-align: center;
    color: #53565A;
    font-family: 'Palanquin Dark', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8em;
}

.login_form{
    margin-top: 1em;
    width: 70%;
    font-family: 'Inter';
}

.login_details{
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: 29px;
    color: rgba(83, 86, 90, 0.8);
}

.login_form input{
    width: 100%;
    box-shadow: 1px 1px 7px -1px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 5px;
    padding: 0.5em;
    letter-spacing: 0.075em;
    margin-bottom: 0.5em;
}

.login_form input::placeholder{
    color: rgba(83, 86, 90, 0.6);
}

.login_form input:focus{
    outline: none;
}

.error_message{
    font-size: 0.7em;
    color: red;
    word-wrap: break-word;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
}

.login_submit{
    padding: 0.3em;
    margin-top: 2em;
    width: 8em;
    border: none;
    background: rgba(18, 152, 181, 0.3);
    border-radius: 7px;
    color: rgba(83, 86, 90, 0.9);
    font-family: 'Montserrat', sans-serif;
}

/* ----------Login Page Responsive----------*/ 
@media (max-width: 500px) {
    .content_login{
        padding: 1em;
        border-radius: 0;
        width: 80%;
    }
} 

/*----------Questions-------------*/
.content_questions{
    width: 70%;
    
}

.content_questions .volvo_logo{
    top: -3em;
}

.questions_page{
    font-size: 1.1em;
    font-weight: 350;
    margin-bottom: 1em;
    color: #53565A;
    font-family: 'Montserrat';
    font-style: normal;
    padding-right: 1em;
    padding-left: 1em;
}

.question_num{
    font-family: 'Inter';
    font-size: 1.3em;
    font-weight: 300;
}

.question_answer{
    display: flex;
    flex-direction: column;
}

.question_answer label{
    font-family: 'Inter';
    font-size: 1.3em;
    font-weight: 300;
}

.answer_style{
    font-size: 1.3em;
    font-weight: 500;
    padding-bottom: 1em;
}

.answer_area{
    background: rgba(245, 245, 245, 0.6);
    width: 70%;
    border-radius: 10px;
    border: none;
    box-shadow: 6px 7px 19px -6px rgba(0, 0, 0, 0.25);
    padding: 1.5em;
}

.questions_content{
    display: flex;
    flex-direction: column;
    position: relative;
    top: -3em;
}

.navigate{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    top: -1em;
    flex-direction: row;
}

.arrow{
    padding: 0.5em;
    position: relative;
    top: -0.3em;
    font-weight: 100;
    color: #53565A;
    font-size: 1.3em;
}

#question-submit{
    display: none;
    padding: 0.3em;
    margin-top: 2em;
    width: 8em;
    border: none;
    background: rgba(18, 152, 181, 0.3);
    border-radius: 7px;
    color: rgba(83, 86, 90, 0.9);
    font-family: 'Montserrat', sans-serif;
    position: relative;
    left: 12em;
}

.error{
    width: 70%;
    color: red;
    font-size: 0.8em;
    line-height: 1.5;
    padding: 1em;
    font-family: 'Montserrat', sans-serif;
}

/*-------------Questions Responsive------------*/

@media (max-width: 960px){
    .answer_area{
        width: 90%;
    }
}

@media (max-width: 700px) {
    .content_questions{
        padding-left: 0;
    }

    .questions_content{
        align-items: center;
    }
    
    .questions_page{
        text-align: center;
        font-size: 1.2em;
    }

    .volvo_logo {
        width: 150px;
        margin-left: 7vw;
        margin-top: 2.5em;
    }

    .question_answer {
        width: 70%;
    }

    .answer_area{
        width: 100%;
        margin: auto;
    }

    .answer_style{
        text-align: center;
    }
}

/*------------Admin Page--------------*/
.content_admin{
    font-family: 'Montserrat';
    padding-left: 3.4vw;
}


nav .btn:focus, nav .btn:hover{
    background: rgba(18, 152, 181, 0.29);
}

.dropdown-toggle::after{
    margin-top: 0.6em;
}

.logo_admin_page img{
    width: 8em;
    position: relative;
    top: -2.5em;
}

.admin_choices{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin_choices label{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    padding-right: 0.5em;
    color: #53565A;
}

.admin_choices input{
    padding: 0.3em;
    color: #53565A;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 0.8em;
    width: 10em;
}

.nav_admin{
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: 400;
}

.nav_admin > div{
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.nav_admin .access_level{
    border-left: 1px solid #53565A;
    border-right: 1px solid #53565A;
}

.nav_admin div > a:hover{
    color: #1298B5;
}

.nav_admin a{
    color: #53565A;
    text-decoration: none;
}

.dropdowns{
    display: flex;
}

.dropdowns > .dropdown{
    margin-right: 2em;
}

.btn.show, .btn, .btn:focus{
    border: none;
}

.btn:focus, .btn:hover{
    background: inherit;
}

.dropdowns > .dropdown > a{
    color: #53565A;
}

.positions{
    padding-top: 3em;
}

.position{
    margin-top: 2em;
    margin-bottom: 2em;
}

.position_heading{
    font-size: 1.6em;
    color: #53565A;
}

.position_heading::after{
    content: '';
    display: block;
    width: 4em;
    height: 1.5px;
    margin: 0.3em;
    background: #1298B5;
    opacity: 0.5;
}

.position_heading a > img{
    width: 1em;
    margin-left: 0.8em;
}

.card-img-top{
    width: 11em;
}

.cards{
    display: flex;
    flex-wrap: wrap;
}

.card{
    background-color: #FFFFFF;
    width: 12em;
    margin: 2em;
    box-shadow: -4px 4px 15px -3px rgba(0, 0, 0, 0.25);
}

.card-body{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-text{
    font-style: normal;
    font-weight: 400;
    font-size: 0.7em;
    margin: 0;
    padding: 0;
}

.icon{
    height: 60%;
    position: relative;
    display: flex;
}

.icon a{
    color: inherit
}

.icon .fa-download{
    position: absolute;
    top: 0.9em;
    left: -1.4em;
}

.icon .fa-trash, .icon .delete-confirm{
    position: absolute;
    top: 0.9em;
    right: -1.4em;
}

.icon .delete-confirm{
    font-size: 0.6em;
    top: 1.2em;
    right: -3em;
    font-weight: 500;
    color: red;
    border: 1px solid red;
}

.text{
    height: 40%;
    width: 100%;
    background-color: #E1DFDD;
}

.text_style{
    padding: 1em;
}

.icon img{
    align-self: flex-end;
    width: 4em;
    margin: 1.5em;
}

/* -----------Admin Page Responsive----------- */

@media (max-width: 950px) {
    .admin_choices{
        display: flex;
        flex-direction: column;
    }

    .admin_choices div{
        margin: 0.4em;
    }
    
    .nav_admin a{
        font-weight: 600;
    }
}

@media (max-width: 670px) {
    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 450px) {
    .logo_admin_page img{
        width: 6em;
    }

    .search label, .applicant a, .access_level a, .job_questions a, .dropdown a  {
        font-size: 0.8em;
    }

    .dropdowns > .dropdown{
        margin-right: 0;
    } 
    
}
@media (max-width: 420px) {
    .nav_admin > div{
        padding-left: 1em;
        padding-right: 1em;
    }
}