.add_opening {
    background: #FFFFFF;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    padding-right: 0;
    margin-top: 5em;
}

.add_opening img{
    width: 35px;
}

.add_opening h6{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1em;
    margin: 0;
}

.job_openings{
    margin: 3em auto;
}

.job_question{
    background: #FFFFFF;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    display: flex;
    width: 80%;
    align-items: center;
    margin: auto;
    margin-bottom: 1em;
    color: rgba(0, 0, 0, 0.5);
}

.job_questions img{
    width: 35px;
}

.job_heading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66%;
    padding: 0.8em;
}

.posted_by{
    font-size: 0.7em;
    color: rgba(0, 0, 0, 0.5);
    margin: 0 2em;
    font-weight: 500;
}

.job_heading h6{
    margin-bottom: 0;
    justify-self: center;
}

.index{
    width: 7%;
    padding: 0.735em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.index h5{
    margin-bottom: 0;
}

.fileQ{
    width: 7%;
    margin: 0.5em;
}

.fileQ img{
    width: 35px;
}

.updateQ{
    width:20%;
    display: flex;
}

.editQ, .deleteQ{
    display: flex;
    justify-content: center;
    width: 50%;
    font-size: 1.5em;
    padding: 0.24em 0;
    border-left: 1px solid rgba(0, 0, 0, 0.25); 
}

.updateQ a{
    color: #000!important;
}


@media only screen and (max-width: 700px){

    .editQ, .deleteQ, .index h5{
        font-size: 1em;
    }

    .job_openings h6 {
        font-size: 0.7em;
    }
}

@media only screen and (max-width: 700px){
    .add_opening h6{
        font-size: 0.7em;
    }

    .add_opening img{
        width: 28px;
    }

    .index{
        width: 10%;
    }

    .job_heading{
        width: 50%;
        flex-direction: column;
        align-items: baseline;
    }

    .posted_by{
        margin: 0;
        font-size: 0.5em;
    }

    .fileQ{
        width: 10%;
    }

    .updateQ{
        width: 30%;
    }
}

/* ------------New job questions-------- */

#jobQuestionsForm > div{
    display: block;
}

.questions_input{
    width: 75%;
}

.has-validation{
    width: 100%;
}

.input-group{
    margin: 1em;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.input-group-text{
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.8em;
}

.heading{
    font-size: 1.1em;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    margin: 1em;
    margin-top: 2.5em;
}

.skills_text{
    font-size: 1em;
    color: rgba(0, 0, 0, 0.6);
    margin: 1em;
}

.alert-success{
    width: 80%;
    background: rgba(18, 152, 181, 0.29);
    --bs-alert-color: #1298B5;
    margin-left: 1em;
    margin-bottom: 2em;
}

.alert-success p{
    font-size: 0.8em;
}

.skills_input{
    width: 60%;
}

.form-select{
    margin: 1em;
    width: 50%;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
}

.submit{
    display: flex!important;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-bottom: 2em;
}

.new_questions_submit{
    padding: 0.3em;
    margin-top: 2em;
    width: 8em;
    border: none;
    background: rgba(18, 152, 181, 0.3);
    border-radius: 7px;
    color: rgba(83, 86, 90, 0.9);
    font-family: 'Montserrat', sans-serif;
}